.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2em;
  margin: 0 auto;
  left: 0;
}

#private-footer {
  background: linear-gradient(to right, black, black, black, black, black, #e65c00);
}

#public-footer {
  background: linear-gradient(to right, #e65c00 , #e65c00, #e65c00, #e65c00, #e65c00, #fceabe);
}


.gh{
  height: 2em;
  width: 2em;
}

footer.footer {
  display: inline-flex;
  justify-content: space-evenly;
}
