.journalist-list-container {
    /* background-color: yellow; */
    /* padding: 0.3em; */

}

.journalist-list-each-container {
    /* background: linear-gradient(to right, #e65c005b , rgba(242, 200, 76, 0.671)); */
    /* border: 1px solid black; */
    border-radius: 5px;
    padding: 0.5em;
}

.journalist-list-each-container li {
    display: grid;
    justify-content: flex-start;
    background :#e65c009c;
    color: white;
    margin: 0.2em 0 0.2em 0;
    padding: 0.5em;
}

.journalist-list-each-container a {
    padding: 0.3em 0 0.3em 0;
    color: white;
}

/* h2 > a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: #9CF5A6;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear;
  }
  h2 > a:hover:before,
  h2 > a:focus:before {
    visibility: visible;
    transform: scaleX(1); */