.MuiTabs-flexContainer {
    background: linear-gradient(to right, #e65c00 , #e65c00, #e65c00, #fceabe); 
}

.NavBar-container {
  height: 3.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-link {
  color: inherit;
  text-decoration: none;
}

.editor-link {
  margin-right: 25em;
}
